@font-face {
  font-family: 'DeathNoteFont';
  src: url('./letra/DEATHNOTEFont.ttf') format('truetype');
  
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: #e1e1e9;
  font-family: 'DeathNoteFont', 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}